.header {
  background: #001eb4;
  color: rgb(255, 255, 255);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.mynav {
  margin-top: 2px;
  margin-bottom: 2px;
  background: rgb(0, 0, 0);
}

.nav-link {
  margin: 5px;
}

.nav-link:hover {
  transform: scale(1.5);
  transition: all 0.6s ease;
}

.bg-header {
  background-image: url('/tokyo.jpg');
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  padding: 50px;
}

.bg-main {
  background-image: url('/ucf.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  color: rgb(255, 0, 0);
  
}

.text {
  color: white;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 10px;
  padding-bottom: 11px;
}

.link {
  color: white;
}

.icon {
  font-size: 20px;
}

.icon:hover {
  transform: scale(2.0);
  transition: all 0.6s ease;
  color: #0024db;
}

.me {
  max-width: 20%;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
}

 .portfolio-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8%;
}

/* Media query for screens smaller than 768px*/
@media screen and (max-width: 768px) {
  .portfolio-card-container {
    padding-top: 20%; 
  }
}

.portfolio-card {
  text-align: center;
  max-width: 400px; 
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 5px solid rgba(255, 255, 255, 0.8);
  border-radius: 25px; 
  color: white;
}

.profile-image {
  max-width: 100%;
  border-radius: 15px;
}

.card-name {
  font-size: 40px;
  padding-top: 20px;
  text-decoration: underline;
}

.card-title {
  font-size: 24px;
  margin-top: 10px;
}

.card-description {
  font-size: 16px;
  margin-top: 10px;
}

.projectPhoto {
  width: 100%; 
  height: 225px; 
  object-fit: cover; 
  border: 3px solid #002aff;
  transition: transform 0.5s ease-in-out;
}

.projectPhoto:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out 200ms;
}

.projectCard {
  flex: 1;
  margin: 2%; 
  max-width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projectCard h3 {
  margin-top: 10px;
}

.projectLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.portfolio {
  text-align: center;
  color: white;
  background-color: rgb(35, 35, 35);
  padding-top: 50px;
}

.githubIcon {
  font-size: 45px;
}

.githubIcon:hover {
  transform: scale(1.5);
  transition: all 0.6s ease;
}

.title {
  text-align: center;
  color: white;
  background-color: rgb(35, 35, 35);
  padding-top: 50px;
  padding-bottom: 50px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

.contactPage {
  background-color: rgb(0, 0, 0);
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
}

.submit {
  margin-top: 20px;
}

.submitButton {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15%;
  margin-bottom: 10%;
}

.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #002aff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup p {
  margin: 0;
  font-size: 16px;
  color: black;
}

.aboutPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 10%;
  padding-right: 10%;
}

.aboutText {
  padding: 10px
}