.header {
    background: #001eb4;
    color: rgb(255, 255, 255);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }

.mynav {
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgb(0, 0, 0);
  }

.nav-link {
    margin: 5px;
  }

.bg-header {
  background-image: url('/tokyo.jpg');
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  padding: 50px;
}

.bg-main {
  background-image: url('/city.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  color: rgb(255, 0, 0);
}

.text {
  color: white;
  text-align: center;
}